* {
  box-sizing: border-box;
}
:root {
  --white--color: #fff;
  --header--height: 77px;
  --text--color: #727475;
  --btn--color: #f3a46b;
  --desc--color: #9a9a9a;
}
html {
  font-size: 62.5%;
}
html,
body {
  scroll-behavior: smooth;
}
.main {
  position: relative;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}
.btn {
  background-color: var(--btn--color);
  border-radius: 30px;
  color: var(--white--color);
  padding: 5px 20px;
  font-size: 1.6rem;
  text-align: center;
  min-width: 140px;
  line-height: 1.6rem;
}
/* Responsive */
.grid {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.grid__column-8 {
  width: 66.6667%;
  padding-left: 0;
  padding-right: 0;
}
.grid__column-4 {
  width: 33.3334%;
  padding-left: 0;
  padding-right: 0;
}
